@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

header {
  position: relative;
  padding: 20px;
  background-color: #2a1b10;
}

h1 {
  color: #d3be91;
  background-color: #2a1b10;
  background-image: url("../images/bonbon.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left;
  margin: 0;
}

h2 {
  color: #9b8f8a;
  border-top: 4px solid  #9b8f8a;
  padding: 0;
  font-family: "Lobster Two", bold;
}

h3 {
  color: #726158;
}

.subtitle {
  color: #d3be91;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #2a1b10;
}

a:hover {
  background-color: #2a1b10;
}

.nav {
  background-color: #2a1b10;
  top: 100%;
  z-index: 1;
  margin: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  transition-duration: .75s;
  transition-timing-function: linear;
  background-color: #2a1b10;
}

.nav a:hover {
  background-color: #2a1b10;
  color: #d3be91;
  border-bottom: .1em solid #d3be91;
}

.history {
  margin-top: 3rem;
  background-color: #e0dad7;
}

.banner {
  min-height: 100px;
}

.delicacies {
  background-color: #e0dad7;
}

.btn {
  background-color: #9b8f8a;
  border-color: #9b8f8a;
}

.btn:hover {
  background-color: #2a1b10;
  border-color: #2a1b10;
}

.coffee {
  background-color: #e0dad7;
}

footer {
  background-color: #d3be91;
}

footer p {
  margin: 0;
}
