@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1 {
  color: #fff;
}

nav {
}

a {
  text-decoration: none;
  color: #4b2d2c;
  padding: .5rem;
}

.btn:hover {
  color: #fff;
  background-color: #4b2d2c;
  border-color: #fff;
}

.btn {
  color: #4b2d2c;
  background-color: #fff;
  border-color: #fff;
}
