@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1 {
  color: #2a1b10;
  background-color: #fff;
  background-image: url("../images/bonbon.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  background-color: #2a1b10;
}

.nav a {
  display: inline-block;
  text-decoration: none;
}

.nav a:hover {
  background-color: #2a1b10;
  color: #d3be91;
  border-bottom: .1em solid #d3be91;
}
